.side-bar.text-white
    .logo-area.p-2 
        h3 Dashboard
    ul.links-area.list-unstyled
        li: a(href='#').text-white.p-3.d-block.main-links Home Page
        li
            a(href='#').text-white.p-3.d-block.main-links.d-flex.justify-content-between.align-items-center
                |Forms
                i(class="fas fa-caret-right toggle-submenu rounded")
            ul.child-links.list-unstyled.pl-3
                li: a(href='#').d-block Input
                li: a(href='#').d-block Textarea
                li: a(href='#').d-block Checkbox
                li: a(href='#').d-block Radio