$themes : (flatBlue : #2980b9,
    flatBlueAlt : #3498db,
    flatRed:#c0392b,
    flatRedAlt:#e74c3c,
    flatGreen:#27ae60,
    flatGreenAlt:#2ecc71);

@each $key,
$val in $themes {
    .#{$key} {
        color: $val
    }
}