$themesColors : (flatBlue : #2980b9,
    flatBlueAlt : #3498db,
    flatRed:#c0392b,
    flatRedAlt:#e74c3c,
    flatGreen:#27ae60,
    flatGreenAlt:#2ecc71);

$themesBack : (flatGreen:#27ae60,
    flatBlue : #2980b9,
    flatRed:#c0392b,
    flatBlack: #1e272e,
    flatSpeechBlue: #3c40c6,
    flatSunset: #ff5e57,
    flatSpero: #40739e);

@each $key,
$val in $themesColors {
    .#{$key} {
        color: $val;
    }
}


@each $key,
$val in $themesBack {
    .#{$key}-back {
        background-color: $val;

        // Generate Many Colors For Theme Change
        .page {

            .page-head h1,
            .side-bar .links-area a:not(.main-links):hover,
            .collpase-sidebar:hover,
            .side-bar .logo-area h3 {
                color: $val !important;
            }

            .links-area>li>a.active,
            .side-bar .links-area>li>a:after,
            .child-links a:hover::before {
                background-color: $val !important;
            }



        }
    }


}