* {
    font-family: 'Cairo', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    .content {
        width: calc(100% - 250px);
        float: right;
        height: 100vh;
        will-change: width;
        transition: .3s;
        background-color: #d2dae2;

        &.no-sidebar {
            width: 100%;
        }
    }
}