body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;

    &.Archivo {
        font-family: 'Archivo', sans-serif;
    }

    &.Saira {
        font-family: 'Saira', sans-serif;
    }

    &.Viga {
        font-family: 'Viga', sans-serif;
    }
}

.page {
    .child-links a:hover::before {
        background-color: #27ae60 !important
    }

    .content {
        width: calc(100% - 250px);
        float: right;
        height: 100vh;
        will-change: width;
        transition: .3s;
        background-color: #d2dae2;

        // Default Color Theme

        h1 {
            color: #27ae60
        }

        .collpase-sidebar {
            transition: .3s;

            &:hover {
                color: #27ae60
            }
        }

        &.no-sidebar {
            width: 100%;
        }
    }
}