@import '../variables/colors';

header {
    background-color: #FFF;

    button.toggle-btn {
        color: #1e272e;
        width: 50px;
        height: 50px;

        &:focus {
            outline: none !important;
        }
    }

    i.dropdown-toggle:not(#user),
    i.fullscreen {
        cursor: pointer;
        color: #FFF;
        background-color: #1e272e;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
    }

    .icons {
        .dropdown {
            i {
                &:after {
                    display: none;
                }
            }

            .dropdown-menu {
                width: 500px;

                &[x-placement^=bottom],
                &[x-placement^=left],
                &[x-placement^=right],
                &[x-placement^=top] {
                    right: 0;
                }

                .not-head {
                    background-color: #1e272e;
                }

                .not-body {
                    i {
                        background-color: #EEE;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 35px;

                    }
                }

                .not-footer {
                    a {
                        text-decoration: none;
                        background-color: #1e272e;
                    }
                }
            }

            .user {
                cursor: pointer;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
        }

        .user-data,
        .user-links {
            background-color: #1e272e;
        }

        .user-links {
            button {
                background-color: #6f6f6f38;
            }

            .settings {
                i {
                    color: $flatBlue;
                }
            }

            .profile {
                i {
                    color: $flatGreen;
                }
            }

            .logout {
                i {
                    color: $flatRed;
                }
            }
        }
    }
}