@import '../variables/colors';

.page {
    .side-bar {
        width: 250px;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        background-color: #1e272e;
        color: #FFF;
        transition: .3s;

        &.no-sidebar {
            left: -250px;
        }

        .logo-area {
            font-size: 1.5em;
        }

        .links-area {
            >li>a {
                position: relative;
                overflow: hidden;

                &:before {
                    width: 0;
                    height: 0;
                    left: 8px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border: 10px solid #6f6f6f38;
                    border-right-color: transparent;
                    border-top-color: transparent;
                    border-bottom-color: transparent;

                }

                &:after {
                    left: -100%;
                    top: 0;
                    background-color: #6f6f6f38;
                    width: 100%;
                    height: 100%;
                    transition-delay: .2s;
                }

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    transition: .2s;
                }

                &:hover:after {
                    left: 0;
                }

                &:hover:before {
                    left: 0;
                }
            }

            a {
                text-decoration: none;

                &.main-links {
                    padding: 13px;
                }

                &:not(.main-links) {
                    color: #808e9b;
                    position: relative;

                    &:hover {
                        color: #FFF;
                        transition: .3s;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 8px;
                        height: 8px;
                        transform: translateY(-50%);
                        background-color: #a2a2a24f;
                        border-radius: 50%;
                    }
                }
            }



            .child-links {
                a {
                    padding: 10px 20px;
                }
            }
        }
    }
}