-var pageTitle = 'Charts'
<!DOCTYPE html>
html(lang="en")
    head
        include ./pug/layout/meta
        title #{pageTitle}
        include ./pug/layout/styles
        include ./pug/layout/scripts
        
    body
        include pug/components/settings

        .page.home-page
            include pug/layout/sidebar
            .content
                include pug/layout/header
                
                .container-fluid
                    include pug/components/page-head