.settings {
    right: 0;
    background: #FFF;
    height: 100%;
    width: 300px;
    z-index: 999;
    top: 0;
    right: 0;
    transition: .4s;

    .settings-gear {
        width: 40px;
        height: 40px;
        top: 75px;
        line-height: 40px;
        left: -40px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        cursor: pointer;
    }

    &.hide-settings {
        right: -300px;
    }

    .color-settings {
        li {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            cursor: pointer;
            opacity: .3;

            &:nth-child(even) {
                margin: 0 7px;
            }

            &.active {
                opacity: 1;
            }
        }
    }
}