.settings.position-fixed.hide-settings.p-3.border-top
    .settings-gear.position-absolute.bg-white.text-center
        i.fas.fa-cog
    h4 Settings
    .color-settings
        | COlors
    .font-settings
        | Font
    .site-settings
        | Settings